{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Portfolio Portal{% endblock %}</title>
    <link rel="stylesheet" href="{% static '/css/home.css' %}">
    
</head>
<body>
    <div class="gridContainer">
        <div class="header">
            <span class="headerTxt">the portfolio portal</span>
            <span class="headerTxt2">to sadaja riddick-johnson</span>
        </div>

        
        <div class="left">
            <div class="box">
                <div class="nav boxHeader">
                    <a href="{% url 'home' %}" >home</a>
                    <a href="{% url 'about' %}">about</a>
                    <a href="{% url 'projects' %}">projects</a>
                </div>
            </div> 
            <br>
            <div class="box music">
                <span class="musicTxt boxHeader">Music Taste Preview</span>
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/3HSJC6QWiSCRdU698479rJ?utm_source=generator&theme=0" width="100%" height="352"  allow="autoplay; clipboard-write; encrypted-media; loading="lazy"></iframe>
                
            </div>
            <br>
            <!-- <div class="leftBoxTwo">
                <span class="boxTxt leftBoxTxt">check out my gamer page!</span>
            </div>
            <br>
            <div class="box">
                <span>box placeholder</span>
            </div> -->
        </div>
        <div class="middle">
            {% block content %}
            <div class="box">
                <span class="boxTitle">WHO IS THIS ?</span>
                <br>
                <span class="boxTxt">hi! my name is Sadaja, pronounced suh-daja. you've come to my portfolio
                website (with the goal of looking to hire me i hope). enjoy your stay!</span>
                <br>
                <sppan class="boxTxt">Oh and FYI, this page is a work in progess, so don't judge TOO harshly</sppan>
            </div>
            <br>
            <div class="box">
                <div class="tldr">
                    <span class="boxTitle">TL;DR</span>
                    <br>
                    <span class="boxHeader">Educaiton:</span>
                    <br>
                    <spana class="boxTxt">BA Information Technology - Nov 2025</span>
                    <br>
                    <span>AS Information Technology - Nov 2024</span>
                    <br>
                    <span class="boxHeader">Skills/Certs:</span>
                    <br>
                    <span>Python, Django, HTML, CSS, SQL</span>
                    <br>
                    <span>CompTIA A+ - Sept 2027</span>
                    <br>
                    <span class="boxHeader">Experience:</span>
                    <br>
                    <span>Only through self teaching, no formal</span>
                    <br>
                    <span class="boxHeader">Projects:</span>
                    <br>
                    <span>Portfolio Website</span>
                    <br>
                    <span>Gamer Website</span>
                    <br>
                    <span>Home Server</span>
                </div>
                
            </div>
            <br>
            <div class="box" style="text-align: center;">
                <span class="boxTitle">Have more time?</span>
                <br>
                <span class="boxTxt">Head to the nav to get some more information!</span>
            </div>
            {% endblock%}
        </div>
        <div class="right">
            <div class="box">
                <div class="me">
                    <div class="meImg">
                        <img src="{% static '/images/me.jpeg' %}" alt="picofme" width="250">
                    </div>
                    <span class="boxTitle">Sadaja Riddick-Johnson</span>
                    <span class="boxTxt">reach me at sriddickjobs@gmail.com</span>
                </div>
            </div>
            
            <br>
            <div class="box" id="socialsBox">
                <div style="display: flex; justify-content: center;">
                    <a href="https://www.linkedin.com/in/sadaja-r-953a30208/" target="_blank"><img src="/staticfiles/images/LI-In-Bug.png" alt="linkedin" class="iconImg"></a>
                    <a href="https://www.resume.lol/share/rn02a65" target="_blank"><img src="/staticfiles/images/android-chrome-192x192.png" alt="resumeimg" class="iconImg"></a>
                </div>
                <div style="text-align: center;">
                    <span class="boxTxt">LinkedIn and Resume</span>
                </div>
            </div>
            <br>
            <div class="box">
                <div style="width:100%;height:0;padding-bottom:89%;position:relative;"><iframe src="https://giphy.com/embed/ao9DUiTKH60XS" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
            </div>
        </div>
        
        
    </div>



    <script src="{% static 'js/home.js' %}"></script>
    <footer>Created and Powered by Sadaja Riddick-Johnson</footer>
</body>
</html>

<!-- to do:

 add more to left side boxes
make popout window for homeserver project picture
add more buttons to proj boxes

 
 make new projects, ideas:
 dinner decider
 website dedicated to uplifting other means of transportation-->