{% extends 'app1/home.html' %}
{% load static %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Portfolio Portal{% endblock %}</title>
    <link rel="stylesheet" href="{% static '/css/home.css' %}">
    
</head>
<body>
    {% block content %}
    <div class="box">
        <div class="projBox">
            <div class="projImgs">
                <img src="/staticfiles/images/port.png" alt="js game" class="">
            </div>
            <div class="projInfo">
                <span class="boxTitle">Portfolio Website</span>
                <span class="boxTxt">This is what you are seeing right now! I made 
                    this with Django and some plain CSS. I wanted to give off kind of an early 
                    2000s design, really sure if that came through but I like the look of it.
                </span>
                <button class="projBtn"><a href="https://github.com/fiddlefig/portfolio_website" target="_blank"></a>See GitHub</button>
            </div>
        </div>
    </div>
    <br>
    <div class="box">
        <div class="projBox">
            <div class="projImgs">
                <img src="/staticfiles/images/ganr.png" alt="js game" class="projImgs">
            </div>
            <div class="projInfo">
                <span class="boxTitle">Gamer Page</span>
                <span class="boxTxt">This was made this year (2025) with Bootstrap and Django. 
                    I made this to show case some of my Steam account and so show off my taste in 
                    video games on other platforms. I also have my backlog on there that reminds me 
                    of which games I need to play when I am bored.
                </span>
                
            </div>
        </div>
    </div>
    <br>
    <div class="box">
        <div class="projBox">
            <div class="projImgs">
                <img src="/staticfiles/images/home network.drawio.png" alt="js game" class="projImgs homeserver">
            </div>
            <div class="projInfo">
                <span class="boxTitle">Home Server</span>
                <span class="boxTxt">ThinkCentre running off of Ubuntu. Hosting a VPN through Tailscale, 
                    running Jellyfin with an external HDD with movies and TV shows, hosting a modded 
                    Minecraftn server, and running PiHole which is am network wide adblocker for my home network.
                </span>
                
            </div>
        </div>
    </div>
    <br>
    <div class="box">
        <div class="projBox">
            <div class="projImgs">
                <img src="/staticfiles/images/jsGame.png" alt="js game" class="projImgs">
            </div>
            <div class="projInfo">
                <span class="boxTitle">Accepted and Denied</span>
                <span class="boxTxt">This is a game I made in 2023 with HTML, CSS, and vanilla JavaScript.
                    the goal of the game is to decide whether or not the birthday on the ID is over 21. this 
                    is definitely one of my older projects and one of my first. i have it here now because i 
                    worked really hard on it even though its kind of broken and bad.
                </span>
            </div>
        </div>
    </div>
    {% endblock %}
    <footer>Created by Sadaja Riddick-Johnson</footer>
</body>
</html>

<!-- to do:
 edit nav
 add more to left side boxes
 add link to game logging website and add as project

 add tl;dr box to the top
 add homelab diagram and description in projects

 
 make new projects, ideas:
 dinner decider
 website dedicated to uplifting other means of transportation-->